@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* nav */
.navbar{
   justify-content: space-between;
   align-items: center;
   margin: 50px 100px;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: black;
    
}
.light{
    color: #8987A1;
    font-size: 20px;
}
.display-flex{
    display: flex;
}
/*header*/
#flower{
    font-weight: bold;
    font-size: 50px;
}
.title-color{
    color: #E95A08;
}
.header-section{
    display: flex;
    margin: 100px 100px;
}
/*main style */
#plant{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.main-section-1{
    text-align: center;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    padding: 10px 35px;
    font-size: 2.5rem;
    font-weight: 1400px;
    border: none;
}
.card-item{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 50px;
}
.main-section-2{
    margin: 100px 100px;
    display: flex;
}
#badge{
    height: 300px;
    width: 300px;
    margin-left: -200px;
    margin-bottom: 400px;
}
#section-2{
    margin-top: 250px;
    font-size: 40px;
}
#deal{
    font-size: 40px;
}
.deal{
    text-align: center;
}
.img-1{
   background-image: url(../../github/B12A02-Responsive-Flowers/assets/deal-bloom.png);
   background-repeat: no-repeat;
   padding: 50px 50px;
   border-radius: 20px;
}
.img-2{
    background-image: url(../../github/B12A02-Responsive-Flowers/assets/deal-ana.png);
    background-repeat: no-repeat;
    padding: 50px 50px;
    border-radius: 20px;
}  

.img-box{

    gap: 20px;
}
.img-3{
    background-image: url(../../github/B12A02-Responsive-Flowers/assets/deal-zabo.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 50px 50px;
    margin: 0 auto;
    width: 200px;
    padding: 50px 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{
    display: flex;
    margin: 50px 100px;
    gap: 20px;
}

.w{
    color: white;
}
.main-section-4{
    background-image: url(../../github/B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    padding: 150px 400px;
}
div input{
     width: 300px;
     height: 60px;
}
.form{
    display: flex;
}


/*responsive*/
@media screen and (max-width: 576px){
    .navbar, .header-section, .header-img, .main-section-1, .main-section-2, .main-section-3{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        grid-area: 20px;
    } 
    .card-item{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
    }
    #badge{
        text-decoration: none;
    }
    .img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}